<div
  class="nav-header"
  (appClickOutside)="navBarAction()"
  [ngClass]="{ open: navBarOpen }"
>
  <span class="toggle-menu" (click)="navBarAction()">&#9776;</span>
  <div>
    <img [src]="headerConfig.brandLogo" class="side-nav-logo" alt="" />
  </div>
  <div>
    <img [src]="headerConfig.brandName" class="side-nav-logo" alt="" />
  </div>
  <div class="date">
    {{ todayDate | date: "yyyy/MM/dd" }}
  </div>
</div>

<div *ngIf="navBarOpen">
  <app-side-nav></app-side-nav>
</div>
