.nav-header {
  font-size: 32px;
  display: flex;
  border: 1px solid black;
}
img {
  width: 60px;
}

.date {
  position: absolute;
  right: 0;
  padding: 9px 31px;
}

.toggle-menu {
  cursor: pointer;
  padding: 14px;
}
