<div class="side-nav">
  <ul>
    <li class="nav-item" *ngFor="let navItem of navItems">
      <span>
        <a
          class="nav-link"
          title="{{ navItem.label }}"
          [routerLink]="[navItem.path]"
          routerLinkActive="router-link-active"
          >{{ navItem.label }}</a
        >
      </span>
    </li>
  </ul>
</div>
