.side-nav {
  width: 250px;
  padding: 10px;
  border: 1px solid;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

a {
  text-decoration: none;
}
.router-link-active {
  color: red !important;
  font-weight: bold;
}
.nav-item {
  cursor: pointer;
  list-style: none;
  padding: 8px 0;
}

.nav-link {
  font-size: 16px;
  color: var(--primary);
}

.nav-link:hover {
  color: var(--primary);
}
