:host {
  position: absolute;
  top: 20%;
  left: 30%;
  font-family: "Montserrat-Medium";
}
.order {
  display: flex;
}

.stock {
  display: flex;
  justify-content: space-between;
}

.detail {
  width: 30%;
  margin-right: 20px;

  border: 0.5px solid;
}

.details {
  display: flex;
  font-size: 12px;
}

.font-gray {
  color: gray;
  font-family: "Montserrat-Medium";
}

.main {
  border: 1px solid;
}

.border-right {
  border-right: 0.5px solid;
}

.border-bottom {
  border-bottom: 0.5px solid;
}

.name {
  display: flex;
  padding: 6px 16px;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 100%;
}

@media (max-width: 480px) {
  :host {
    top: unset;
    left: unset;
  }
  .name {
    padding: unset;
  }
}

.product-icon {
  width: 20px;
}

.product-name {
  width: 100%;
  border: 1px solid;
}

.product {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
