<!-- <div *ngFor="let item of productData | keyvalue">
  <div *ngIf="item.key === 'productName'">
    <p>{{ item.value.name }}</p>
  </div>
  <div></div>
</div> -->
<div>
  <p class="heading">Product Name</p>
  <div class="stock">
    <div class="detail">
      <p>Code:XYZ</p>
      <p>Product Description:This is the description</p>
    </div>
    <div class="detail">
      <p>Vendor: this is vendoe</p>
      <p>Scale: Scale</p>
    </div>
    <div class="detail">
      <p>Buy Price: Details</p>
      <p>MSRP: MSRP</p>
    </div>
    <div class="detail">
      <p>Quantity in Stock:20</p>
    </div>
  </div>
</div>

<div class="product-container">
  <p class="heading">Order Details</p>
  <div class="main">
    <div class="details">
      <div
        class="name border-right border-bottom"
        *ngFor="let productDetail of orderDetails"
      >
        <div class="">
          <img [src]="productDetail.icon" class="product-icon" alt="" />
        </div>
        <div class="font-gray">
          {{ productDetail.name }}
        </div>
      </div>
    </div>
    <div>
      <div class="order" *ngFor="let order of orderData">
        <div class="name border-right" *ngFor="let data of order.data">
          <div>
            {{ data.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
