:host {
  min-height: calc(100vh - 180px);
  /* TODO: not sure if this is the correct way to do this */
  background-color: white;
  margin-bottom: 50px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
