/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/Montserrat-SemiBold.ttf");
}
* {
  font-family: "Montserrat-Regular";
}

.heading {
  font-size: 22px;
  font-family: "Montserrat-SemiBold";
}
