.product-container {
  margin-left: 30%;
}

.details {
  display: flex;
  font-size: 12px;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}
.search-icon {
  color: gray;
  position: relative;
  left: -20px;
}
.name {
  display: flex;
  padding: 6px 16px;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
}

.product-icon {
  width: 20px;
}

.product-name {
  width: 100%;
  border: 1px solid;
}

.product {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.custom-pagination .page-number {
  display: inline-block;
  /* padding: 5px 12px; */

  margin: 0px 4px;
}

pagination-template {
  display: flex !important;
  justify-content: flex-end !important;
  cursor: pointer;
}

.page-number.current {
  background: lightgray !important;
  border: 2px solid #fff;
}

.page-number span {
  display: block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}

.pagination-previous,
.pagination-next {
  display: inline-block;
  font-weight: bold;
}

@media (max-width: 480px) {
  .product-container {
    margin-left: unset;
  }

  .name {
    padding: unset;
  }
}
