<div class="product-container">
  <p class="heading">Products</p>
  <div class="search-bar">
    <input type="text" placeholder="Search.." name="search" />
    <i class="fa fa-search search-icon"></i>
  </div>

  <div class="details">
    <div class="name" *ngFor="let productDetail of productDetails">
      <div class="">
        <img [src]="productDetail.icon" class="product-icon" alt="" />
      </div>
      <div>
        {{ productDetail.name }}
      </div>
    </div>
  </div>
  <div class="product" *ngFor="let data of productData | paginate: config">
    <div class="product-name" *ngFor="let productSubData of data.data">
      <div *ngFor="let item of productSubData | keyvalue">
        <a
          [routerLink]="['details', data.id]"
          *ngIf="item.key === 'productCode'"
          (click)="showProductDetails(data)"
        >
          {{ item.value.name }}
        </a>
        <div *ngIf="item.key !== 'productCode'">
          {{ item.value.name }}
        </div>
      </div>
    </div>
  </div>
  <pagination-template
    #p="paginationApi"
    [id]="config.id"
    (pageChange)="config.currentPage = $event"
  >
    <div class="custom-pagination">
      <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
        <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
          <
        </span>
      </div>
      <div
        class="page-number"
        *ngFor="let page of p.pages"
        [class.current]="p.getCurrent() === page.value"
      >
        <span
          (click)="p.setCurrent(page.value)"
          *ngIf="p.getCurrent() !== page.value"
          >{{ page.label }}</span
        >
        <div *ngIf="p.getCurrent() === page.value">
          <span>{{ page.label }}</span>
        </div>
      </div>
      <div class="pagination-next" [class.disabled]="p.isLastPage()">
        <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
      </div>
    </div>
  </pagination-template>
  <router-outlet></router-outlet>
</div>
